.fine-print-item {
    display: inline-block;
}


/*.fine-print-item p {
    margin-bottom: 16px;
}*/

.fine-print, .fine-print h2, .fine-print h3, .fine-print h4, .fine-print h5, .fine-print h6 {
    font-size: 0.75rem;
    line-height: 16px;
    margin-top: 8px;
}

.fine-print h2, .fine-print h3, .fine-print h4, .fine-print h5, .fine-print h6 {
    margin-bottom: 13px;
}

.fine-print hr {
    border: 1px solid lightgray;
}

.fine-print .default-content-wrapper {
    display: inline-block;

}

.fine-print>div>div>p {
    margin-top: 0;
    margin-bottom: 0;
}
.fine-print .default-content-wrapper p {
    margin-top: 0;
    margin-bottom: 16px;
}

.fine-print img, picture {
    height: 2rem;
}
