.fine-print-item {
    display: inline-block;
}

.fine-print p {
    margin-top: 0;
    margin-bottom: 0;
}

.fine-print-item p {
    margin-bottom: 16px;
}

.fine-print, .fine-print h2, .fine-print h3, .fine-print h4, .fine-print h5, .fine-print h6 {
    font-size: 0.75rem;
    line-height: 16px;
}

.fine-print h2, h3, h4, h5, h6 {
    margin-bottom: 13px;
}

