/* Style the buttons that are used to open and close the accordion panel */
.accordionButton {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 0px; /* needed to override default button styling from style.css */
    margin: 0; /* needed to override default button styling from style.css */
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeAccordionButton, .accordionButton:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  
  /* style icons */
  .accordionButton:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .activeAccordionButton:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }