/* for debugging */
[outlines="1"] * { outline: 1px dashed }

*    { box-sizing: border-box }

/*************/
/* mechanism */
/*************/
.flex-row { display: flex; flex-flow: row wrap; width: 100% }

.flex-row > * {
  flex: 1; /* allow children to grow when space available */

  /* [OPTIONAL] set a 'min-width' if you want to force some wrapping */
  min-width: 7.5rem; /* max 3*120px columns on a 360px device */
}

.col-1  { flex-basis:   8.33% }
.col-2  { flex-basis:  16.66% }
.col-3  { flex-basis:  25%    }
.col-4  { flex-basis:  33.33% }
.col-5  { flex-basis:  41.66% }
.col-6  { flex-basis:  50%    }
.col-7  { flex-basis:  58.33% }
.col-8  { flex-basis:  66.66% }
.col-9  { flex-basis:  75%    }
.col-10 { flex-basis:  83.33% }
.col-11 { flex-basis:  91.66% }
.col-12 { flex-basis: 100%    }

.quote-cta {
/*    display:flex;
    flex-direction: row; */
}

.quote-cta h3 {
    margin-top: 32px;
}
.quote-cta h5 {
    margin-top: 24px;
}
.quote-cta .quote-cta-left-div{
/*    flex:auto;*/
}

.quote-cta .quote-cta-right-div{
/*    width: 350px;
    height: 340px; */
    background-color: red;

}

.quote-cta .quote-cta-right-div h3,h5{
    text-align: center;
}

.quote-cta .quote-cta-right-div input, select{
    width: 300px;
    margin-left: 20px;
}